$nav_width: 1140px;
$bannerHeight: 186px;
$bannerBgColor: #009a61;
$liveContainerHeight: 100%;
a {
  text-decoration: none;
}

#main-parent {
  width: 100%;
  position: relative;

  .main-banner {
    width: 100%;
    height: $bannerHeight;
    background-color: $bannerBgColor;
    position: relative;

    .close-panel {
      width: 16px;
      height: 18px;
      position: absolute;
      right: 20px;
      top: 15px;
      overflow: hidden;
      cursor: pointer;

      i {
        /*修改关闭图标颜色*/
        color: rgba(255, 255, 255, .5);
      }
    }

    .banner-content {
      width: $nav_width;
      height: $bannerHeight;
      margin: 0 auto;
      display: flex;
      //background: url("../../assets/banner-img.png") no-repeat 85% 51%;

      .text-panel {
        width: 50%;
        height: $bannerHeight;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .title {
          font-size: 30px;
          color: white;
        }

        .desc {
          color: white;
          font-size: 18px;
          margin-top: 10px;
        }
      }

      .btn-panel {
        width: 50%;
        height: $bannerHeight;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .img-panel {
          width: 217px;
          height: 186px;
          overflow: hidden;
          position: relative;
          /*过渡动画*/
          transition: all 0.8s;

          &:hover {
            transform: rotate(-5deg);
          }

          .occlusion {
            width: 217px;
            height: 186px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .maxBtn {
          width: 106px;
          height: 45px;
          border: solid 1px white;
          border-radius: 6px;
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          cursor: pointer;
          font-size: 18px;
        }

        .TrRSFRegister {
          background: #fff;
          color: $bannerBgColor;
        }

        .TRLogin {
          background: $bannerBgColor;

          &:hover {
            background: #006741;
          }
        }
      }
    }
  }

  .main-content {
    width: $nav_width;
    min-height: 500px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;

    .side-menu {
      width: 170px;
      min-height: 510px;

      .recommended-to-you {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 106px;

          .selected {
            background: $bannerBgColor;

            .ico-panel {
              i {
                color: #fff;
              }
            }

            span {
              color: white;
            }

            &:hover {
              background: $bannerBgColor;
            }
          }

          li {
            list-style: none;
            width: 100%;
            height: 34px;
            border-radius: 4px;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            font-weight: 500;
            align-items: center;


            .ico-panel {
              width: 16px;
              height: 20px;
              margin: 0 7px;

              i {
                width: 100%;
                height: 100%;
                color: #757575;
              }
            }

            &:hover {
              background: rgba(0, 154, 97, 0.08);
            }

            span {
              color: #757575;
              font-size: 14px;
            }
          }
        }
      }

      .technology-channel {
        .title {
          position: relative;
          margin: 20px 6px;

          h5 {
            font-size: 14px;
          }

          &:after {
            position: absolute;
            top: 9px;
            left: 65px;
            content: '';
            border-bottom: 1px solid #eee;
            width: 95px;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 106px;

          .selected {
            background: $bannerBgColor;

            .ico-panel {
              i {
                color: #fff;
              }
            }

            span {
              color: white;
            }

            &:hover {
              background: $bannerBgColor;
            }
          }

          li {
            list-style: none;
            width: 100%;
            height: 34px;
            border-radius: 4px;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            font-weight: 500;
            align-items: center;


            .ico-panel {
              width: 16px;
              height: 20px;
              margin: 0 7px;

              i {
                width: 100%;
                height: 100%;
                color: #757575;
              }
            }

            &:hover {
              background: rgba(0, 154, 97, 0.08);
            }

            span {
              color: #757575;
              font-size: 14px;
            }
          }
        }
      }
    }

    .main-content-view {
      width: 665px;
      min-height: 300px;
    }

    .side-menu-right {
      width: 285px;
      min-height: 300px;

      /*公告*/
      .notices {
        width: 100%;
        height: 52px;
        background-color: #fcf8e3;
        border: solid 1px #faebcc;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px;
        border-radius: 4px;
        overflow: hidden;

        span {
          font-size: 13px;
          color: #8a6d3b;
          cursor: pointer;
        }
      }

      /*广告区域*/
      .ad-area {
        width: 100%;
        height: 156px;
        margin-bottom: 30px;

        .img-panel {
          width: 100%;
          height: 136px;
          background: #99a9bf;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .info-panel {
          width: 100%;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 12px;
            color: #9E9E9E;
            cursor: pointer;
          }
        }
      }

      /*直播推荐*/
      .live-recommend-area {
        width: 100%;
        box-sizing: border-box;
        height: 257px;
        margin-bottom: 20px;
        background-color: #fafafa;
        padding: 15px 0 15px 15px;

        .live-recommend-header {
          width: 100%;
          height: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h4 {
            color: #009a61;
          }

          .live-recommend-switch {
            width: 32px;
            height: 17px;
            margin-right: 15px;
            display: flex;
            justify-content: space-between;

            .i-panel {
              width: 14px;
              height: 14px;
              border-radius: 50%;
              display: flex;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              background: $bannerBgColor;

              &:hover {
                background: #000000;
              }

              i {
                color: #fff;
              }
            }
          }
        }

        .live-recommend-wrapper {
          width: 100%;
          height: 197px;
          margin-top: 10px;
          overflow: hidden;
          position: relative;

          .live-recommend-detail {
            width: $liveContainerHeight;
            display: flex;
            flex-direction: row;
            position: absolute;

            .live-recommend-detail-item {
              width: 192px;
              height: 197px;
              margin-right: 20px;

              .live-recommend-detail-item-banner {
                width: 192px;
                height: 108px;
                position: relative;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .live-recommend-detail-item-title {
                font-size: 14px;
                font-weight: 700;
              }

              .star-panel {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                i {
                  color: #F6A623;
                }

                span {
                  font-size: 12px;
                  color: #999;
                  margin-left: 10px;
                }
              }

              .price-panel {
                .cur-price {
                  color: #ED1C24;
                  font-weight: 900;
                  font-size: 14px;
                }

                .origin-price {
                  color: #999;
                  font-size: 12px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }

      /*活动推荐*/
      .activityRecommend-area {
        width: 100%;
        height: 376px;

        .activity-title {
          width: 100%;
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-size: 16px;
            font-weight: 500;
            color: #212121;
          }

          a {
            color: $bannerBgColor;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .activity-content {
          width: 100%;

          .activity-content-item {
            width: 100%;
            display: flex;
            margin-bottom: 10px;

            &:not(:last-child) {
              border-bottom: 1px dashed #eee;
            }

            .activity-date {
              width: 32px;

              .activity-date-up {
                width: 100%;
                height: 15px;
                background: #C8E9DE;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                  font-size: 12px;
                  color: #017166;
                }
              }

              .activity-date-down {
                width: 100%;
                height: 20px;
                background: #EBF7F3;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                  font-size: 14px;
                  color: #017166;
                }
              }
            }

            .activity-detail {
              width: 215px;
              margin-left: 10px;
              cursor: pointer;
              margin-bottom: 10px;

              .activity-detail-title {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                &:hover span {
                  color: $bannerBgColor;
                  text-decoration: underline;
                }

                span {
                  font-size: 14px;
                  color: #212121;
                  font-weight: 700;
                }
              }

              .activity-detail-down {
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .dot {
                  margin: 0 3px;
                }

                .activity-state {
                  color: #F5A623;
                  margin-left: 3px;
                }

                .stop-state {
                  color: #ff7820;
                }

                .end-state {
                  color: #3c801b;
                }

                span {
                  font-size: 12px;
                  color: #999;
                }
              }
            }

          }
        }
      }
    }
  }
}
