$mainWidth: 665px;
$bannerBgColor: #009a61;
#main-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  /*轮播区域*/
  .carousel-Area {
    width: $mainWidth;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    .el-carousel__item {
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      .title-panel {
        width: 489px;
        height: 40px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 9;
        font-size: 24px;
        color: #fff;
      }

      &:nth-child(2n) {
        background-color: #99a9bf;
      }

      &:nth-child(2n+1) {
        background-color: #d3dce6;
      }
    }
  }

  /*标题*/
  .feed-option {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    display: flex;
    border-bottom: solid 1px #ddd;

    p {
      font-weight: 500;
    }
  }

  /*main列表*/
  .main-list {
    width: 100%;

    .item-info {
      width: 100%;
      height: 131px;
      display: flex;
      margin: 20px 0;

      .item-left {
        flex: 8.5;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .item-title {
          cursor: pointer;
          margin-bottom: 5px;

          h4 {
            font-size: 18px;
          }
        }

        .item-summary {
          width: 565px;
          height: 50px;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;

          p {
            color: #888;
            font-size: 13px;
          }
        }

        .item-meta {
          width: 100%;
          height: 25px;
          display: flex;
          justify-content: flex-start;
          margin-top: 10px;
          align-items: center;
          color: #888;
          font-size: 13px;
          /*点赞区域*/
          .like-area {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            &:hover {
              .votes-word {
                span {
                  color: $bannerBgColor;
                }
              }

              .ico-panel {
                background-color: #017E66;
                color: #fff;
              }


            }

            .ico-panel {
              width: 24px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              background-color: rgba(1, 126, 102, 0.08);
              border-radius: 50%;
              overflow: hidden;
              color: $bannerBgColor;

              &:hover {
                background-color: #017E66;
                color: #fff;
              }
            }

            .votes-num {
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 5px;
              margin-right: 3px;

              span {
                font-size: 13px;
                color: $bannerBgColor;
                font-weight: 900;

                &:before {
                  content: "x ";
                  font-size: 13px;
                }
              }
            }

            .dot {
              margin-right: 3px;
            }

            .votes-word {
              margin-right: 20px;

              &:hover span {
                text-decoration: underline;
              }
            }
          }

          /*作者信息*/
          .author-info {
            .author {
              font-weight: 600;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .dot {
              margin: 0 3px;
            }
          }
        }
      }

      .item-right {

      }
    }

    .item-right {
      flex: 1.5;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;

      .img-panel {
        width: 80px;
        height: 60px;
        border-radius: 4px;
        margin-top: 20px;
        overflow: hidden;
        background-color: #99a9bf;
        cursor: pointer;
      }
    }

    .noData {
      width: 100%;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 16px;
        color: #757575;
        font-weight: 900;
      }
    }
  }
}
