$nav_width: 1140px;
$nav_height: 64px;
$header_logo_width: 150px;
$menu_width: 980px;
$searchBoxDefaultWidth: 265px;
$searchBoxOpenWidth: 655px;
$navBgColor: #fafafa;
#parentContainer {
  width: 100%;
  height: $nav_height;
  background-color: $navBgColor;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #009a61;

  .context {
    width: $nav_width;
    height: $nav_height;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-start;

    .nav-left {
      display: flex;
      position: relative;
      justify-content: flex-start;
      flex: 7.2;

      .ts-header_logo {
        width: $header_logo_width;
        height: $nav_height;
        overflow: hidden;

        .logo-panel {
          width: $header_logo_width;
          height: 33px;
          padding-top: 32px;
          background: url("../../assets/header_logo.svg") no-repeat center center;
        }
      }

      .menu-area {
        height: $nav_height;
        margin: 0 30px;

        ul {
          display: flex;

          li {
            list-style: none;
            min-width: 56px;
            height: $nav_height;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 3px;
            position: relative;

            .found-elastic-layer {
              min-width: 400px;
              min-height: 283px;
              background-color: $navBgColor;
              position: absolute;
              top: 54px;
              border: solid 1px #eeeeee;
              border-radius: 0 4px 4px 0;
              box-shadow: -1px 0px 0 0 #eee;
              z-index: 999;
              display: flex;

              .left-content {
                flex: 4;
                display: flex;
                flex-direction: column;
                min-height: 283px;
                border-right: solid 1px #eeeeee;
                justify-content: center;

                li {
                  box-sizing: border-box;
                  width: 100%;
                  padding: 0 3px;
                  font-size: 14px;
                  background: $navBgColor;
                  height: 34px;

                  a {
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                  }

                  & a:after {
                    content: " ";
                    width: 12px;
                    height: 12px;
                    background: 100% 100% no-repeat;
                  }
                }
              }

              .right-content {
                flex: 6;
                height: 100%;
                padding: 15px 20px 30px;

                .item-content {
                  margin-bottom: 10px;

                  a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 0;
                    justify-content: flex-start;

                    .item-title {
                      font-size: 14px;
                      color: #009a61;
                      font-weight: 500;
                      text-align: left;
                    }

                    &:hover {
                      background-color: $navBgColor;

                      /*给span添加下划线*/
                      &:hover .item-title {
                        text-decoration: underline
                      }
                    }
                  }

                  & a:after {
                    content: " ";
                    width: 12px;
                    height: 12px;
                    background: 100% 100% no-repeat;
                  }

                  .item-info {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span {
                      font-size: 12px;
                      color: #999;
                      margin-right: 2px;
                    }

                    .item-info-state {
                      color: #F5A623;
                    }

                    .stop {
                      color: red;
                    }

                    .finish {
                      color: #009a61;
                    }
                  }
                }

                .item-showmore {
                  width: 100%;
                  height: 20px;

                  a {
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 12px;

                    &:hover {
                      background-color: $navBgColor;
                    }
                  }

                  & a:after {
                    content: " ";
                    width: 12px;
                    height: 12px;
                    background: 100% 100% no-repeat;
                  }
                }
              }
            }

            a {
              text-decoration: none;
              border-radius: 4px;
              height: 34px;
              padding: 0 12px;
              color: #757575;
              font-weight: 500;
              display: flex;
              flex-direction: column;
              justify-content: center;
              position: relative;

              &:hover {
                background-color: #F3F3F3;
              }
            }

            /*父元素最后一个元素里面的a*/
            &:last-child a {
              width: 47px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              &:after {
                content: " ";
                width: 12px;
                height: 12px;
                background: url("../../assets/downArrow.svg") 100% 100% no-repeat;
              }
            }

           /* &:last-child:hover .found-elastic-layer {
              animation: foundElasticLayerState 2s;
            }

            @keyframes foundElasticLayerState {
              from {
                display: none;
              }
              to {
                display: flex;
              }
            }*/

            .nav-active {
              color: #009a61;
              font-weight: 600;
              background-color: #F3F3F3;
            }
          }
        }

      }

      .search-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $nav_height;
        position: absolute;
        right: 0;

        .open {
          animation: searchOpen 0.2s forwards;
        }

        .default {
          width: $searchBoxDefaultWidth;
        }

        .closed {
          animation: searchClose 0.2s forwards;
        }

        /*搜索款打开*/
        @keyframes searchOpen {
          from {
            width: $searchBoxDefaultWidth;
          }
          to {
            width: $searchBoxOpenWidth;
          }
        }

        /*搜索框关闭*/
        @keyframes searchClose {
          from {
            width: $searchBoxOpenWidth;
          }
          to {
            width: $searchBoxDefaultWidth;
          }
        }
      }

    }

    .nav-right {
      display: flex;
      position: relative;
      flex: 2.8;
      justify-content: flex-end;
      align-items: center;

      .btn-panel {
        width: 80px;
        height: 34px;
        text-align: center;
        color: #ffffff;
        border-radius: 4px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;

        span {
          font-weight: 500;
        }
      }

      .btn-signin {
        color: #009a61;
        font-size: 14px;

        &:hover {
          background-color: #F3F3F3;
        }
      }

      .btn-signup {
        background-color: #009a61;
        border-color: #008151;
        &:hover{
          background-color: #006741;
          border-color: #00432a;
        }
      }
    }
  }
}
